@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,500;9..40,700&family=Poppins:wght@300;500;700&family=Roboto:wght@100;300;500;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --main-sidebar-color: #828490;
    --sidebar-background-color: rgb(26, 26, 33);
    --main-background-color: rgb(236, 238, 255);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

div {
    /* border: 2px solid black; */
    
}


.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    width: 100%;
    font-size: 24px;
    background-color: var(--main-background-color);

    .sidebar {
        display: grid;
        grid-auto-rows: max-content;
        width: minmax(0, 200px);
        padding: 25px;
        gap: 5px;
        background-color: var(--sidebar-background-color);
        grid-row: 1 / 3;
        row-gap: 25px;
        .header {
            font-size: 25px;
            color: white;
            text-align: center;
        }
        
    }

    .h-divider {
        background-color: #4e505b;
        height: 0.5px;
        width: 100%;
    }

    .sidebar > a {
        text-decoration: none;
        /* text-align: center; */
        padding-left: 28px;
        font-size: 18px;
        background-repeat: no-repeat;
        background-position: left top;
        color: var(--main-sidebar-color);
    }

    .sidebar > a:hover{
        text-decoration: underline;
    }
}


/* top navigations bar section */
.top-nav-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    margin: 20px;
    border-radius: 7px;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.075);
}

.top-nav-container > ul {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    list-style-type: none;
    justify-items: center;
    align-items: center;
    padding: 10px 0;
}

.top-nav-container > ul > li > a {
    text-decoration: none;
    font-size: 20px;
    color: var(--main-sidebar-color);
    font-weight: 200;
}


.top-nav-container > ul > li > a:hover {
    color: blue;
}

.top-nav-options {
    display: grid;
    grid-template-columns: 1fr 3px 32px 3px 75px 50px;
    align-items: center;
    justify-self: end;
    font-size: 18px;
    font-weight: 100;
    padding-right: 15px;
    gap: 10px;
    
}

.top-nav-options > input{
    border-radius: 30px;
    border: none;
    background-color: var(--main-background-color);
    height: 32px;
    padding-left: 30px;
    font-size: 16px;
    background-image: url(/icons/search.png);
    background-repeat: no-repeat;
    background-position: 5px center;

}

.t-divider {
    border-left: 1px solid black;
    height: 32px;
}

/* Main cards container */
.main-content {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 2fr 300px;
    grid-template-rows: max-content;
    margin: 25px;
    gap: 20px;
}

.section-title {
    font-size: 22px;
    grid-column: 1 / -1;
    font-weight: 500;

}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-template-rows: max-content;
    gap: 20px;
}

.project-image {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/icons/colors-1383652.jpg);
    height: 100px;
    border-radius: 7px;
}

/* the transition for simple effect that makes card standout */
.card {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    background-color: white;
    padding: 25px;
    gap: 30px;
    border-radius: 7px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.075);
    
}

.card:hover {
    transition: all 0.5s;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.275);
    outline: 2px solid lightblue;
}

.card-control {
    display: grid;
    grid-template-columns: repeat(3, 24px);
    gap: 10px;
    align-items: end;
    justify-content: end;
}

.card-div {
    margin-bottom: 10px;
    font-weight: 400;
}

p, h5 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.4;
}

h5 {
    font-weight: 400;
}
/* news announcement section */
#news {
    display: grid;
    grid-auto-rows: max-content;
    gap: 20px;
}

/* using template rows for only allocating the max width and height
    of a random content */
#announcements,
#trending {
    display: grid;
    grid-template-rows: max-content;
    background-color: white;
    gap: 20px 15px;
    padding: 25px;
    border-radius: 7px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.075);
}

#trending {
    grid-template-columns: max-content 1fr;

}

/* Makes the trending divider span  */
#trending .h-divider {
    grid-column: -1 / 1;
}

/* Sidebar icons */
#dashboard, #home, #profile, #messages,
#tasks, #community, #settings, #support,
#privacy, #alerts {
    background-size: 20px;
}

#dashboard {
    background-image: url(icons/layout.png);
}

#home {
    background-image: url(icons/home.png);

}

#profile {
    background-image: url(icons/user.png);
}

#messages {
    background-image: url(icons/chat.png);
}

#tasks{
    background-image: url(icons/to-do-list.png);
}

#community {
    background-image: url(icons/community.png);
}

#settings {
    background-image: url(icons/settings.png);
}

#support {
    background-image: url(icons/online-chat.png);
}

#privacy {
    background-image: url(icons/shield.png);
}

#alerts {
    background-image: url(icons/notification.png);
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
}

#avatar {
    background-image: url(icons/kermit.png);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

#avatar:hover,
#alerts:hover {
    cursor: pointer;
}

.card-icon-favourite,
.card-icon-view, 
.card-icon-share {
    cursor: pointer;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.card-icon-favourite {
    background-image: url(icons/star.png);
    
}

.card-icon-view {
    background-image: url(icons/eye.png);
}

.card-icon-share {
    background-image: url(icons/share.png);
}

#news-profile-lego,
#news-profile-diamonds,
#news-profile-droplet {
    cursor: pointer;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}

#news-profile-lego {
    background-image: url(icons/lego.jpg);
}

#news-profile-diamonds {
    background-image: url(icons/diamonds.jpg);
}

#news-profile-droplet {
    background-image: url(icons/droplets.jpg);
}